* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    overflow-x: hidden;
}


/* header */
.header-container {
    position: fixed;
    top: 0;
    z-index: 1;
}

.first-section-header {
    background-color: black;
    height: 30px; 
}

.logo {
    width: 80px;
}

.second-section-header {
    height: 60px;
    background-color: white;
    line-height: 60px;
}

.row-header {
    height: 60px;
}

nav li {
    font-weight: 500;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: 600;
}

header i {
    position: relative;
    bottom: 1px;
    font-size: 14px;
    color: rgb(184, 184, 184);
}


/* main */
main {
    padding-top: 90px;
}

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position:top;
    background-size: cover;
    height: 700px;
}

.logo-jumbo {
    height: 60px;
    margin-top: 200px;
}

.logo-jumbo-2 {
    height: 160px;
}

.img-ps5 {
    margin-right: 200px;
    width: 100%;
}

main img {
    max-width: 100%;
}

footer img {
    max-width: 100%;
}

.jumbotron-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position:top;
    background-size: cover;
    height: 700px;
}

.jumbotron-3 {
    background-color: rgb(155, 155, 155);
    height: 450px;
}

.bg-blue {
    background-color: rgb(9, 9, 47);
}

.giochi-mese {
    height: 450px;
}

.logo-plus{
    max-height: 120px;
}

h2, h3 {
    font-weight: 700;
}


/* footer */
.logo-footer {
    height: 100px;
    color: white;
}

.bg-blue-light {
    background-color: rgb(0, 89, 255);
}

footer nav li {
    font-size: 14px;
    margin-bottom: 20px;
}


/* commons */
.border0 {
    border: 0;
}

main .card img {
    border-radius: 30px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.m-x-10 {
    margin: 0 10px;
}

.mr-50 {
    margin-right: 50px;
}

.btn-blu {
    background-color: rgb(45, 100, 230);
    color: white;
    border-radius: 30px;
    padding: 10px;
    max-width: 200px;
    margin: 0 auto;
}

.btn-white {
    background-color: rgb(241, 235, 235);
    color: rgb(0, 78, 180);
    border-radius: 30px;
    padding: 10px;
    max-width: 200px;
    margin: 0 auto;
    font-weight: 500;
}

.btn-accedi {
    position: relative;
    bottom: 3px;
}

.btn-orange {
    background-color: rgb(255, 86, 8);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px;
    max-width: 200px;
    margin: 0 auto;
    font-weight: 500;
}

p {
    font-weight: 700;
}

.btn-burger {
    color: grey;
    font-size: 30px;
    color: grey;
    border: 1px solid lightgrey;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.btn-search {
    font-size: 25px;
    color: black;
}

.over-opacity {
    opacity: 0.7;
}

.container-fullscreen {
    width: 100%;
}


/* EFFETTI */
/* effetto bordo bottom con hover accessori play5 */
.border-layover:hover{
    border-bottom: 3px solid rgb(45, 100, 230);
    opacity: 1;
}

li:hover {
    color: rgb(0, 140, 255);
}

.over .card:hover {
    border-top: 5px solid rgb(0, 140, 255);
    border-bottom: 5px solid rgb(0, 140, 255);
    border-radius: 30px;
    cursor: pointer;
}

.bg-dark .card:hover {
    border-top: 5px solid rgb(0, 140, 255);
    border-bottom: 5px solid rgb(0, 140, 255);
    cursor: pointer;
    border-radius: 30px;
}

.card-3 .card:hover {
    border-top: 5px solid rgb(0, 140, 255);
    border-bottom: 5px solid rgb(0, 140, 255);
    cursor: pointer;
    border-radius: 30px;
}

.card-app{
    cursor: pointer;
}